<div class="max-w-7xl mx-auto px-4">
    <div class="mb-16">
        <h2 class="text-3xl text-[#F1F1F1] font-bold sm:text-4xl mb-2">Sobre mí</h2>
        <p class="text-gray-300">
            Soy estudiante de último año de bachillerato en Desarrollo de Sistemas Informáticos y Bases de Datos. En estos dos años que llevo estudiando en el área, he aprendido tanto lo que se me imparte como también sobre el mundo de la programación de forma autodidacta, logrando así desarrollar, tanto de manera individual como grupal, proyectos reales para empresas y negocios, así como proyectos personales con gran proyección. <br><br>
        </p>
        <p>
            Algunos de mis proyectos incluyen la página web para la empresa de filiales <span class="font-extrabold">‘Grupo Leones’</span>, una librería de animaciones para <span class="font-extrabold">TailwindCSS</span> que actualmente sigue activa, y otros sistemas que pueden visualizarse en <a href="/#proyectos" class="text-gray-400">mis proyectos</a>. <br><br>
        </p>
        <p>
            Me describo como una persona con habilidades que fomentan el buen trabajo en equipo, la colaboración y la adaptación a los requerimientos de cada proyecto. Me encanta la programación de pe a pa💜
        </p>        
    </div>
    <div class="flex flex-col md:flex-row gap-4 justify-between">
        <div class="flex flex-col">
            <h2 class="text-3xl text-[#F1F1F1] font-bold sm:text-4xl mb-2">Estudios</h2>
        <div class="flex flex-col">
            <a href="https://itesa.edu.do/" target="_blank" class="text-[#ffeb39] hover:text-[#ffeb39]/80 text-xl font-medium">Instituto Técnico Salesiano ITESA</a>
            <span class="text-[#f1f1f1] text-[15px] font-semibold">── Desarrollo de Sistemas Informáticos</span>
        </div>
        </div>

        <div class="md:w-1/2 flex justify-center brightness-65">
            <img
            loading="lazy"
            class="rounded-2xl shadow-lg w-64 h-64"
            src="/jendry.webp"
            alt="Foto de Jendry bien guapo en un río">
        </div>
    </div>
</div>
